<!-- products.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='products.css') }}">
</head>
<body>
    <h1>Product List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product[0] }}</td>
                <td>{{ product[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
